@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body{
  color: #262626;
  font-family: "Raleway", sans-serif;
  background-image: 
}

img{
	width:100%;
	height: auto;
}

h1{
	color: #49BAAC;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	margin: 1em;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	width: 500px;
	margin: 1.5em;
}