@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body{
	font-family: "Raleway", sans-serif;
	color: #262626;
	font-size: 18px;
}

.header{
	width: 100%;
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
}

#GT_Logo{
	width: 4%;
	height: auto;
	margin: 0;
	float: left;
}

nav{
	font-family: "Montserrat", sans-serif;
	text-align: right;
	text-transform: uppercase;
	color: #49BAAC;
	float: right;
}

#header{
	width: 100%;
	margin: 0;
	padding: 0;
}

.hero_image{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.topic{
	display: block;
	margin: auto;
	width: 100%;
	height: 350px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "topic";
	clear: both;
	height: 0;
}

h1{
	font-family: "Montserrat", sans-serif;
	color: #49BAAC;
	text-transform: uppercase;
	font-size: 24px;
	margin: 0 0 20px 0;
}

#illustration_one {
	display: inline-block;
	width: 30%;
	margin: 4%;
	padding: 0;
	height: auto;
	float: left;
	position: relative;
}

#Getaway{
	display: inline-block;
	position: absolute;
	width: 40%;
	float: left;
	margin: 0 0 5% 2%;
	position: relative;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
}

.cta{
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	text-align: right;
	text-transform: uppercase;
	color: #262626;
	text-decoration: none;
	background: #E5E01A;
	padding: 15px;
	border: 2px black solid;
	margin: 0 0 4% 0;
	float: left;
}

#map{
	background: #E8DCD1;
	margin: 0;
	clear: both;
	float: center;
}

#property_map{
	width: 80%;
	margin: 0 auto;
}

#cheers{
	display: inline-block;
	position: absolute;
	width: 40%;
	float: left;
	margin: 0 2% 5% 0;
	position: relative;
}

ul{
	margin-left: 15%;
}

li{
	list-style-type: square;
}

#illustration_two {
	display: inline-block;
	width: 30%;
	margin: 4%;
	padding: 0;
	height: auto;
	float: left;
	position: relative;
}

header {
	padding: 20px;
}

nav{
	font-size: 1em;
	float: right;
}

nav a{
	text-decoration: none;
  	color: #000000;
  	margin: 1.8em;
}

footer{
	background-color: #49BAAC;
	padding: 20px;
	clear: both;
}

div{
	padding: 5%;
}

section{
	padding: 5%;
}

@media only screen and (max-width: 1180px){
	#Getaway {
		clear: both;
	}
	h1 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
		width: 400px;
	}
	.cta {
		font-size: 12px;
	}
}

@media only screen and (max-width: 400px){
	.topic{
		float: center;
		width: 400px;
	}

	#Getaway {
		width: 100%;
		display:inline-block;
	}
	h1 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
		width: 400px;
	}
	.cta {
		font-size: 12px;
	}
	#illustration_one {
		width: 75%;
	}
	#illustration_two {
		width: 75%;
	}
	#GT_Logo {
		width: 15%;
		padding-bottom: 25px;
	}
	nav {
		display: none;
	}
	#hero_image {
		height: 300px;
		width: auto;
	}
}

@media only screen and (min-width: 1920px){

}