body{
  color: #000;
  font-family: "Gotham", sans-serif;
}

img{
	width:100%;
	height: auto;
}

h1,h3{
	text-transform: uppercase;
}

h1{
	color: #49BAAC;
}

h3{
	color:#B5E8E2;
}

#slogan{
	font-size: 35px
	font-style: italic;
}